@import "tailwindcss";

/* @theme {
  --color-custom-white: hsl(0, 0%, 100%);
  --color-slate-100: hsl(202, 86%, 94%);
  --color-slate-300: hsl(203, 41%, 72%);
  --color-slate-500: hsl(200, 26%, 54%);
  --color-slate-700: hsl(200, 24%, 40%);
  --color-slate-900: hsl(202, 55%, 16%);
} */
body {
  background-color: hsl(202, 86%, 94%);
}

.user-input {
  /* border-color: hsl(0, 0%, 100%); */
}

.accent-slate {
  background-color: hsl(202, 86%, 94%);
}

.accent-slate:hover {
  background-color: hsl(61, 70%, 52%);
}

.custom-border:hover {
  border-color: hsl(61, 70%, 52%);
}

.custom-border:focus {
  border-color: hsl(61, 70%, 52%);
}