@import "tailwindcss";

body {
  background-color: hsl(202, 86%, 94%);
}

.accent-slate {
  background-color: hsl(202, 86%, 94%);
}

.accent-slate:hover {
  background-color: hsl(61, 70%, 52%);
}

.custom-border:hover {
  border-color: hsl(61, 70%, 52%);
}

.custom-border:focus {
  border-color: hsl(61, 70%, 52%);
}

.disturbia {
  background-color: transparent !important;
}